@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
  font-family: 'Druk';
  src: url('./assets/fonts/Druk.otf') format('truetype');
}

body {
  font-family: 'Inter', sans-serif;

  .header {
    padding: 30px;

    &--navbar {
      display: flex;
      justify-content: center;
      gap: 30px;
    }

    &--link {
      position: relative;

      color: black;
      font-weight: 600;
      text-decoration: none;
      text-transform: uppercase;

      &::before {
        content: '';
        position: absolute;
        top: 20px;
        width: 0;
        height: 2px;
        background-color: black;
        transition: .3s ease-in-out;
      }

      &:hover, &_active {
        &::before {
          width: 100%;
        }
      }
    }
  }

  .intro {
    width: 100%;
    position: relative;
    margin-top: 50px;
    padding: 50px;

    &--content {
      max-width: 700px;
      margin: auto;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      position: absolute;
      inset: 0;
      top: 200px;
      z-index: 1500;
    }

    &--canvas {
      position: absolute;
      top: 50px;
      right: 100px;

      width: 520px;
      height: 320px;
      border-radius: 10px;
      background-color: white;
    }

    &--title {
      text-align: center;
      font-family: Druk, sans-serif;
      font-size: 55px;
      font-weight: 500;
      line-height: 58px;
      text-transform: uppercase;
    }

    &--description {
      margin-bottom: 40px;
      text-align: center;

      color: #cdcdcd;
      font-size: 20px;
    }

    &--button {
      width: 192px;
      margin: auto;
      padding: 10px 16px;
      border: 1.5px solid #000;
      border-radius: 24px;

      color: #000;
      font-size: 17px;
      font-weight: 700;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      transition: .3s ease-in-out;
    }
  }
}
